{% extends 'learning_logs/base.html' %}
{% load bootstrap5 %}
{% block page_header %}
<h1>User Registration</h1>
{% endblock page_header %}

{% block content %}
    <form method="POST" action="{% url 'users:register' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button role="button" type="submit" class="btn btn-success px-3 me-4">Register</button>
            <button role="button" type="reset" class="btn btn-danger px-3">Reset Form</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
{% endblock content%}